apiVersion: v1
kind: Secret
metadata:
  name: hcloud-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "token": "tokenGoesHere",
      "endpoint": "https://api.hetzner.cloud/v1",
      "poll_internval: "500ms,
      "poll_function": "exponential"
    }
